node_modules
.DS_Store
app/
cache/
env/
logs/
patches/
!patches/
!patches/**
!install.js
!start.js
!pinokio.js
!pinokio.json
!README.md
!torch.js
!update.js
!reset.js
!link.js
!patch_gradio.py
!icon.png
